body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a.cartIcon {
  float: right;
  margin-right: 10px;
}

.contenedorItem {
  width: 300px;
  background: rgb(237, 235, 235);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 15px;
}

.stockDisponible {
  color: grey;
  font-size: 13px;
  margin-top: -15px;
}

.buttons {
  background: white;
  border: solid 1px rgb(215, 214, 214);
  border-radius: 5px;
}

.buttons .decrementoItem {
  color: rgb(69, 69, 255);
  border: none;
  background:transparent;
  font-size:30px;
  float: left;
  margin-top: -7px;
  cursor: pointer;
}

.buttons .incrementoItem {
  color: rgb(69, 69, 255);
  border: none;
  background:transparent;
  font-size:30px;
  float: right;
  margin-top: -7px;
  cursor: pointer;
}